html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }



body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

.disabled {
    cursor: not-allowed;
}

.btn {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 190px;
    width: 100%;
    max-width: 300px;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
    outline: none;
}

.btn-option {
    cursor: pointer;
    margin: 8px 12px 0px 0px;
    padding: 8px 12px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 6px;
}

.container-item2 {
    max-width: 1240px;
    display: block;
    margin: 0 auto;
    
}
.container {
    max-width: 1270px;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    //background-color: rgb(28, 168, 58);
}

.row {

}

.col {
    max-width: 20%;
}

.col-100 {
    max-width: 100%;
}

.col-o {
    margin-left:20%;
}
.col-o-2 {
    margin-left: 40%;
}

.col-6 {
    display: block;
    flex:0 0 60%;
    max-width:60%;
}

.btn-search {
    cursor: pointer;
    border: 0px;
    width: 120px;
    background: rgb(13, 92, 182);
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}