.App {
  text-align: center;
  margin-top:30px;
}

.App_container{
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  gap:20px;
}
.list_container{
  
  width: 70%;
  background-color: #fff;
  box-shadow: 1px 1px 7px 3px grey;
}
.list_contain{
  text-align:-webkit-center;
}
.list_contain.active{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 15px;
  flex-wrap: wrap;
}

img{
  width: 100%;
}
.btn{
  margin-bottom: 20px;
  font-size: 30px;
  outline:none;
  border:none;
  color:#000;
}