@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.textStyle {
  font-family: "Open Sans", sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.container {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #d6d6d6;
  padding: 8px;
  cursor: pointer;
  &.selected{
    background: #27122b25;
  }
  &:hover{
    background:  #27122b25;
  }
  .imageContent {
    width: 200px;
    height: 200px;
    position: relative;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    .activeStatus {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      bottom: 5px;
      right: 50px;
    }
  }
  .infoContent {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;
    .text {
      @extend .textStyle;
      font-size: 15px;
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;
      margin-bottom: 4px;
    }
  }
}
