.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.item-contents h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
