.wrapper {
    position: relative;
    width: 400px;
    border: 2px solid #A1C298;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.wrapper::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online::before {
    background-color: teal;
}

.offline::before {
    background-color: orangered;
}

img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

h3  {
    font-weight: 500;
    margin: 0.5rem;
}

h5  {
    font-weight: 300;
    margin: 0.4rem 0;
}

span {
    background-color: #A1C298;
    color: #F5F5F5;
    padding: 0.3rem 0.6rem;
    margin: 0 0.2rem;
    border-radius: 5px;
}