.container {
    display: grid;
    gap: 15px 5px;
    grid-template-columns: repeat(4, auto);

    @media screen and (min-width:760px) and (max-width:1280px) {
        grid-template-columns: repeat(4, auto);

    }

    justify-content: space-around;

    @media screen and (min-width:760px) and (max-width:1280px) {
        grid-template-columns: auto auto auto;

    }
}