.listUser {
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    gap:10px;
    margin-bottom: 50px;
    position: relative;
}
.skeleton {
    position: relative;
    width: 100%;
     height: 100px;
     margin-bottom: 10px;
    // border: solid;
   
} 
.vertical {
    grid-template-columns: repeat(3,minmax(0,1fr));
}
.horizontal{ 
    grid-template-columns: repeat(1,minmax(0,1fr));
}
.listUser > h1 {
    background-color: aquamarine;
    position: absolute;
    top: 30px;
    left: 0;
}
// vertical and horizontal