@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

button {
  background: none;
}

button:hover {
  opacity: .7;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.me-2 {
  margin-right: .5rem;
}

.hide {
  display: none;
}

.ratio {
  position: relative;
  padding: 0;
}

.ratio:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.fit-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Module */
.card-grid__title {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.card-grid__filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-grid__search {
  margin-bottom: 1rem;
}

.card-grid__mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.card-grid__content > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.card-grid__content.vertical .card {
  flex-direction: row;
  flex: 1 0 auto;
}

.card-grid__content .card {
  height: 100%;
}

.card-grid__content .card-body {
  display: flex;
  flex-direction: column;
}
