:root{
    --light: #EAECEE;
    --black: #2C3E50;

    --lightgray: #D5D8DC;
    --lightgreen: #D5F5E3;
    --lightyellow: #FCF3CF;

    --gray: #566573;
    --green: #229954;
    --yellow:#B7950B;
}