.breadcrumb-light {
  @apply border-l-[0.5px] border-whiteopacity h-10 p-5;
}

.breadcrumb.breadcrumb-light .breadcrumb-item:not(:first-child):before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23e8eeff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right breadcrumb__icon'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
}

.breadcrumb .breadcrumb-item:not(:first-child):before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right breadcrumb__icon'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 100%;
  margin-left: -1.125rem;
  position: absolute;
  top: 2px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.breadcrumb-item.active {
  @apply cursor-text text-white opacity-60;
}

.dot-red {
  @apply relative before:content-[''] before:absolute before:top-[0.1rem] before:right-[1.35rem] before:rounded-full before:w-2 before:h-2 before:bg-red-900;
}

.menu-avatar {
  visibility: hidden;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transform: translateY(100px);
  opacity: 0;
}

.active {
  visibility: inherit;
  transform: translateY(0);
  opacity: 1;
}
